@keyframes mymove {
    50% {color: $secondColor;}
  }


@media only screen and (max-width:1024px){
    .cards {
        flex-wrap: wrap;
    }
    .cards_body {
        width: 40%;
    }
    .cards_body:hover {
        width: 50%;
        height: 550px;
    }
}

@media only screen and (max-width:768px){
    .cards {
        flex-direction: column;
    }
    .cards_body {
        width: 70%;
    }
    .cards_body:hover {
        width: 80%;
        height: 550px;
    }
    
}
